<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Clicky</title>
    <%# <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %1>"/> %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

  </head>
  <body class="avenir">
    <header>
      <section class="container">
        <h1 class="pa3 pa5-ns">Clicky</h1>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="ph3 ph5-ns">
        <%= render @view_module, @view_template, assigns %>
      </div>


    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
