<div>
  <div><%= @count %></div>
  <button phx-click="increment" phx-value-user="<%= @user_id %>">CLICK ME</button>

  <dl>
    <%= for {name, count} <- @user_counts do %>
      <dt><%= name %></dt>
      <dd><%= count %></dt>
    <% end %>
  </dl>
</div>


